<div ng-controller="C3WaterfallCtrl" 
ng-if=" $root.defaults.year && $root.defaults.region && $root.defaults.period && $root.defaults.account && $root.defaults.department "
ng-style="{'margin-top': $root.isPrinting ? '0px':(120)+'px'}"
style="   background-color: transparent; padding-top:10px;  -webkit-transition:margin-top 1s; transition-property:margin-top; transition-duration: 1s;" 
ng-click="$root.topOffSet = $root.defaultOffSet; $root.indexOver = '';" 
 > 
<style>
#chart .c3-target-hide-line .c3-lines,
#chart .c3-target-hide-line .c3-circles {
  display: none;
}

</style>
 
  
 <div class="container" >
		<div class="row">
			<div class="col-md-12">
				<h3 style="color:#fff;">WATERFALL CHART</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" >
				<div class="col-md-12" style="background-color:#fff; border-radius:10px; border-bottom-right-radius:0px;">
				<div id="chart"></div>
			</div>
			</div>
		</div>
	</div>
</div>